<img src="<%= user.profileImage %>" alt="profile image">


<form action="/profile/?_method=PUT" method="POST" >
    <label for="bio">Edit Your Bio</label>
    <textarea name="bio"><%= user.bio %></textarea>
    <button class="update" type="submit">Update</button>
</form>

  <a href="/profile">Back to Profile</a>