
    <form action="/profile" method="POST">
        <label >Title of Post</label>
        <input  name="title" id="title" type= "text">   
        <label>content</label>
        <input  name ="content" id="content" type= "text"> 
        <input value="submit" type="submit">        
    </form>
