<h2 class="new-post">Share your experience, strength and hope with the community!</h2>


<div class="post-form">
    <form action="/profile/editpost" method="POST">
    <div class="title">
        <label >Title of Post</label>
        <input  name="title" id="title" type= "text">
    </div>   
    <div class="content">
        <label>content</label>
        <input class="content" name ="content" id="content" type= "text">
    </div> 
        <button class="post-button" type="submit">Share!</button>        
    </form>
</div>