<img src="<%= profileImage %>" alt="profile image">
<%= bio %>

<form action="/profile" method="POST" enctype="multipart/form-data">
    <label for="bio">Edit Your Bio</label>
    <input type="textarea" name="bio"> 
    <br>
  
    <label for="inputFile">Edit Profile Photo</label>
    <input type="file" name="inputFile">
    <br>

  <a href="/profile">Back to Profile</a>