

<link rel="stylesheet" href="/css/style.css">

<h2 class="home-heading">Lavender Recovery</h2>

<form action="/auth" method="POST">
    <label for="auth-email">Email</label>
    <input class="email-input" id="auth-email" type="email" name="email">
  
    <label for="auth-password">Password</label>
    <input  class="password-input"id="auth-password" type="password" name="password">
  
    <input class="login-button" type="submit" value="Log In">
  </form>