

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lavender Recovery</title>
<style>
  
  body{
   background-image: url("https://i.imgur.com/FAxaslK.jpg");
   background-repeat: no-repeat;
   background-attachment: local;
   background-size:cover;
   background-position: center;
   max-width: 1080px;
   max-height: 1920px;
   
  }

.lav-home{
  justify-content: center;
  background:lavender;
  height: 400px;
  width: 400px;
  border-radius: 70%;
  box-sizing: border-box;
  margin-left: 150px;
  position: relative;
  
}
.home-text{
  text-align: center; 
  font-size: 60px ; 
  font-family: 'Redressed', cursive;
  padding: 80px 50px 50px 50px;
  

}
a{
  text-decoration:none;
}

/* styling for login form */
.login-form{
  position: relative;
  margin-left: 1300px;
  margin-top: 100px;
  padding-bottom: 40px; 
  box-sizing: border-box;
  border: solid;
  border-color: mintcream;
  width:260px;
  font-family: 'Redressed', cursive;
  background:linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0));;
  margin-bottom: 200px;  
  
  
}
.email-input{
  padding: 10px;
  margin-left: 30px;
  border: 1px;
}
.auth-email{
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  padding-left: 5px;
  padding-top: 10px;
}
.email-div{
  padding-left: 15px;
}
.password-input{
  padding: 10px;
  border: 1px;
  margin-left: 30px;
}
.auth-password{
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  margin-left: -5px;
  padding-left: 5px;
}
.pass-div{
  padding-left: 20px;
}

.log{
  padding-left: 105px;
  padding-top: 30px;
}
.login-button{
   text-align: center;
   font-family: 'Redressed', cursive;
   color:white;
   background-color: black;
   font-size: 15px;
   border-radius: 70%;
   padding-top: 6px;
   padding-bottom: 6px;
}

.sign-up{
  box-sizing: content-box;
  border: lavender;
  border-style: double;
  width: 200px;
  margin-bottom: 300px;

}
</style>
</head>
<body>

 <div class="lav-home">
  <p class="home-text">Lavender Recovery</p>
</div>

<div class="login-form">
  <form action="/auth" method="POST">
    <div class="email-div">
      <p class="auth-email">Email</p>
      <input class="email-input" id="auth-email" type="email" name="email">
    </div>
    <div class="pass-div">
      <p class="auth-password">Password</p> 
      <input  class="password-input"id="auth-password" type="password" name="password">
    </div>
    <div class="log">
      <input class="login-button" type="submit" value="login">
    </div>
    </form>
</div>

<div class="sign-up">
  <p> Join the Community!</p>
  <a href="/auth/signup">Signup</a>
</div>
  

  
    
  
</body>
</html>

