<h2>Your Safe Space</h2>

<h3>Share your thoughts with the community!</h3>

<p><%=  name  %></p>
<img src="<%= profileImage %>" alt="profile image">

<p><%= bio %></p>

<% const postsArray = [] %>
<% for (i = 0; i < postsArray.length; i++){ %>
 <% const postItem = postsArray[i] %>
 console.log(postItem)
<% } %>




