<h2>Your Safe Space</h2>

<h3>Share your thoughts with the community!</h3>

<p><%=  name  %></p>
<img src="<%= profileImage %>" alt="profile image">

<p><%= bio %></p>

<% for (i = 0; i < postsArray.length; i++){ %>
 <% const postItem = postsArray[i] %>
 
<% } %>

<a href="/profile/editpost">Create a New Post</h3>



