/*  homepage styling */

h2{
  text-align: center;
  color:blueviolet;

  
}


/* *sign up page styling */
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

/* profile styling */


/* new post page styling */